%button {
  -webkit-font-smoothing: antialiased;
  border-radius: none;;
  display: inline-block;
  font-family: $sans-serif;
  font-size: modular-scale(-1);
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;

}

%button-primary {
  background-color: $white;
  border: 2px solid $purple;
  color: $purple;
  
  &:hover {
    background-color: $hover-button-color;
    color: $white;
  }
}

%button-secondary {
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  
  &:hover {
    background-color: $white;
    color: $purple;
  }
}
