<header class="row">

  <div class="wrap">

    <div class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>

    <nav class="nav-collapse">
      {% assign pages = site.pages | sort:"weight"  %}
      <ul>
        {% for p in pages %}
        <li>
          <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
        {% endfor %}
        <li><a class="rsvp-button" href="#">RSVP</a></li>
      </ul>
    </nav>

  </div>

</header>
