<section class="rsvp">
  <div class="wrap">
    <a href="#" class="rsvp-button">Close</a>
    <div class="rsvp-container">
      <h2>RSVP</h2>
      <form action="https://docs.google.com/forms/d/17NtYJOu4lbrRGO2roD7dgsKAWGzu7ie_o0BW78E33GQ/formResponse" method="POST" id="ss-form" target="_self" id="rsvpform" onsubmit="" data-parsley-validate>
        <div class="form-section row">
          <label class="radio-label">Will You Be Attending?</label>
          <input type="radio" name="entry.1373340682" value="No" id="group_1373340682_2" role="radio" class="attending" aria-label="No" required="" aria-required="true">
          <label for="group_1373340682_2" class="ss-choice-label">No</label>
          <input type="radio" name="entry.1373340682" value="Yes" id="group_1373340682_1" role="radio" class="attending" aria-label="Yes" required="" aria-required="true" checked="checked">
          <label for="group_1373340682_1" class="ss-choice-label">Yes</label>
        </div>
        <div class="form-section">
          <div class="row">
            <div class="form-name">
              <label>First Name</label>
              <input type="text" name="entry.1704553044" value="" class="" id="entry_1704553044" dir="auto" aria-label="First Name  Must contain " aria-required="true" required="" pattern=".*.*" title="Must contain ">
            </div>
            <div class="form-name">
              <label>Last Name</label>
              <input type="text" name="entry.959832654" value="" class="" id="entry_959832654" dir="auto" aria-label="Last Name  Must contain " aria-required="true" required="" pattern=".*.*" title="Must contain ">
            </div>
          </div>
          <div class="row">
            <label>Email Address</label>
            <input type="email" name="entry.1690607343" value="" class="" id="entry_1690607343" dir="auto" aria-label="Email Address  Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">
          </div>
        </div>
        <div class="form-section guest">
          <div class="row">
            <label class="radio-label">Will You Bring A Guest?</label>
            <input type="radio" name="entry.1325953934" value="No" id="group_1325953934_2" role="radio" class="bringguest" aria-label="No" checked="checked">
            <label for="group_1325953934_2" class="ss-choice-label">No</label>
            <input type="radio" name="entry.1325953934" value="Yes" id="group_1325953934_1" role="radio" class="bringguest" aria-label="Yes">
            <label for="group_1325953934_1" class="ss-choice-label">Yes</label>
          </div>
          <div class="guestname row hidden">
            <div class="form-name">
              <label>Guest's First Name</label>
              <input type="text" name="entry.1224968734" value="" class="ss-q-short" id="entry_1224968734" dir="auto" aria-label="Guest&#39;s First Name  " title="">
            </div>
            <div class="form-name">
              <label>Guest's Last Name</label>
              <input type="text" name="entry.1787987950" value="" class="ss-q-short" id="entry_1787987950" dir="auto" aria-label="Guest&#39;s Last Name  " title="">
            </div>
          </div>
        </div>
        <div class="form-section form-button">
          <input type="submit" name="submit" value="Submit RSVP" id="ss-submit" class="jfk-button jfk-button-action button button-secondary button-large">
        </div>
      </form>
    </div>
  </div>
</section>
<section class="page-overlay"></section>