/* ****************************************************************************
 * Navigation                                                                 *
 **************************************************************************** */
 header {
  @include position(absolute, 0em null null null);
  width: 100%;

  .site-title {
    float: left;
    margin-top: 0.5em;
    a {
      color: $white;
      font-size: modular-scale(1);
      text-decoration: none;
    }
  }

  nav {
    float: right;
    @include media($small-screen-only) {

    }
  }

  li {
    float: left;

    a {
      color: $white;
      display: inline-block;
      font-family: $sans-serif;
      font-size: modular-scale(-2);
      letter-spacing: 1px;
      padding: 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        box-shadow: inset 0px 3px 0px $white;
        color: $white;
      }
    }
    &.current a {
      box-shadow: inset 0px 3px 0px $white;
    }
    &:last-child {
      padding-right: 0;
    }
  }

 }

@include media($small-screen-only) {

  header .wrap {
    padding: 0;
  }

  .site-title {
    padding-left: 1.5rem;
  }

  nav {
    width: 100%;
  }

  .nav-collapse {
    background-color: $purple;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  }

  .nav-collapse li {
    width: 100%;
    display: block;
    text-align: center;
    a {
      font-size: em(15);
      padding: 2em 1.5em;
      text-align: center;
      &:hover {
        box-shadow: none;
      }
    }
    &.current a {
      box-shadow: none;
    }
  }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }

  .nav-collapse.opened {
    max-height: 9999px;
  }

  .nav-toggle {
    @include position(absolute, 0em 0em null null);
    color: $white !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    padding: 0.75em 1.5em;
    user-select: none;
    text-decoration: none;
    &:hover {
      color: $white;
    }
    &:active {
      color: $white;
    }
  }
}


@include media($medium-screen-up) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
