button,
input[type="submit"], .button {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-primary {
  @extend %button-primary;
}

.button-secondary {
  @extend %button-secondary;
}

.button-medium {
  padding: 1.5em;
}

.button-large {
  padding: 1.5em 3em;
}


