fieldset {
  background: lighten($base-border-color, 10);
  border: 1px solid $base-border-color;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-family: $sans-serif;
  font-size: modular-scale(-2);
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: $base-line-height / 4;
  text-transform: uppercase;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(all);
  background-color: transparent;
  border-radius: 0;
  border: 1px solid lighten($purple, 50%);
  box-shadow: $form-box-shadow;
  color: $white;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height / 2;
  outline: none;
  opacity: 0.7;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  width: 100%;

  &:hover {
    border: 1px solid lighten($purple, 70%);
  }

  &:focus {
    border: 1px solid $white;
    opacity: 1;
    outline: none;
  }

  @include placeholder{
    color: $white;
    font-style: italic;
    opacity: 0.25;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  border: 1px solid lighten($purple, 50%);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  opacity: 0.25;
  margin: 0.5em;
  padding: 0.5em 1em;
  text-align: center;
  width: 100px;
}

input[type="radio"]:checked + label {
  background-color: $white;
  border: 1px solid $white;
  color: $purple;
  opacity: 1;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}
